@import url("https://fonts.googleapis.com/css?family=Staatliches&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
  font-size: 16px;
  font-family: Staatliches, sans-serif;
}

.pedal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vmin;
  height: 80vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 40vw;
  position: fixed;
  border: 0.5rem solid white;

  h2 {
    bottom: var(--rotation, 0);
    font-size: 12vw;
    width: 100%;
    text-align: center;
    font-family: Staatliches, sans-serif;
    font-variant-numeric: tabular-nums;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  @for $i from 0 through 100 {
    &[data-rotation="#{$i}"] {
      background-color: mix(green, orange, $weight: (100% / 100 * $i));
    }
  }
  .initialized & {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &__wrapper {
    position: fixed;
    opacity: 0.25;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    .initialized & {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.button {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 20vmin;
  width: 20vmin;
  background-color: orange;
  border-radius: 50%;
  font-size: 8vmin;
  z-index: 12;
  -webkit-appearance: none;
  text-transform: uppercase;
  font-family: Staatliches, sans-serif;

  text-align: center;
  border: 0px solid;
  padding: 0;
  line-height: 20vmin;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  &--clicked {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}

.trafficlight {
  width: 15vmin;
  height: 30vmin;
  border: 8px solid white;
  background-color: #222;
  border-radius: 15vmin;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%) scale(0);
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  [data-stage] & {
    transform: translate(-50%, -50%) scale(1);
  }
  [data-stage="4"] & {
    transform: translate(-50%, -50%) scale(0);
  }
  span {
    width: 6vmin;
    height: 6vmin;
    position: absolute;
    display: block;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    --color: 0;
    --light: #333;
    background-color: var(--color, red);
    box-shadow: 0 0 6vmin 0 var(--color),
      0 0 3vmin 0 rgba(var(--light), var(--light), var(--light), 1),
      0 0 12vmin 0 var(--color);
    background-image: radial-gradient(
      rgba(var(--light), var(--light), var(--light), 0.85),
      rgba(var(--light), var(--light), var(--light), 0.1)
    );
    [data-stage="1"] & {
      &:nth-child(1) {
        --light: 255;
        --color: red;
        top: 25%;
      }
    }
    [data-stage="2"] & {
      &:nth-child(2) {
        --light: 255;
        --color: orange;
        top: 50%;
      }
    }
    [data-stage="3"] & {
      &:nth-child(3) {
        --light: 255;
        --color: green;
        top: 75%;
      }
    }
  }
}
.accelerometer {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 50vmin;
  height: 50vmin;
  background-color: rgba(0, 0, 0, 1);
  background-image: radial-gradient(
      closest-side,
      transparent calc(60% - 2px),
      #555 60%,
      transparent 60%
    ),
    radial-gradient(closest-side, #333, #111);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(var(--scale, 0));
  .initialized & {
    --scale: 1;
  }
  box-shadow: 1rem 0.5rem 2rem 0 black;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 15;
    border-radius: 50%;
    mix-blend-mode: screen;
    box-shadow: 0 0 2rem 0 black inset;
    background: linear-gradient(to bottom, black, black),
      radial-gradient(circle at 50%, black 50%, rgba(0, 0, 0, 0) 50%),
      radial-gradient(transparent 60%, rgba(255, 255, 255, 1) 80%),
      radial-gradient(transparent 50%, rgba(255, 255, 255, 0.5)),
      radial-gradient(closest-side, rgba(255, 255, 255, 0.5), transparent),
      radial-gradient(closest-side, #111 50%, transparent 20%),
      radial-gradient(closest-side, transparent 70%, black 20%),
      //   conic-gradient(orange 0% 10%, red 20% 37.5%, transparent 20% 62.5%, green);
        conic-gradient(
          orange,
          red,
          transparent,
          transparent,
          transparent,
          green,
          orange
        );
    background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%,
      100% 100%, 100% 100%, 100% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
      no-repeat, no-repeat, no-repeat;
    background-position: center center, center center, 10% 10%, center center,
      top right, center center, center center, center center;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
    top: 0;
    background-color: black;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0) calc(50% - 2px),
        rgba(255, 255, 255, 1) calc(50% - 2px),
        rgba(255, 255, 255, 1) calc(50% + 2px),
        rgba(0, 0, 0, 0) calc(50% + 2px)
      ),
      linear-gradient(
        to left bottom,
        rgba(0, 0, 0, 0) calc(50% - 2px),
        rgba(255, 255, 255, 1) calc(50% - 2px),
        rgba(255, 255, 255, 1) calc(50% + 2px),
        rgba(0, 0, 0, 0) calc(50% + 2px)
      ),
      radial-gradient(circle at 50%, black 50%, rgba(0, 255, 0, 0) 50%),
      linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)),
      linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));

    background-size: 33.3% 33.3%, 90% 90%, 100%, 100%, 110% 110%, 100% 4px,
      4px 100%;
    background-position: center bottom, center center, center center,
      center center, center center, center center, center center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
      no-repeat, no-repeat;
    transform: rotate(0deg);
  }
  &__pointer {
    bottom: 50%;
    left: 50%;
    width: 4px;
    position: absolute;
    height: 50%;
    z-index: 3;
    border-radius: 0 0 4px 4px;
    background-color: red;
    transform-origin: 50% 100%;
    transform: rotate(calc(-135deg + calc(270deg / 100 * var(--rotation, 0))));
    &::before {
      background-color: red;
      display: block;
      border-radius: 50%;
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      width: 1rem;
      height: 1rem;
      transform: translate(-50%, -50%);
    }
  }
}
