body,
html {
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
  font-size: 16px;
}

.pedal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25vw;
  position: fixed;
  border: 0.5rem solid white;
  h2 {
    bottom: var(--rotation, 0);
    font-size: 12vw;
    width: 100%;
    text-align: center;
    font-family: Arial;
  }
  @for $i from 0 through 100 {
    &[data-rotation="#{$i}"] {
      background-color: mix(green, orange, $weight: (100% / 100 * $i));
    }
  }
}
