doctype html
html
    head
        link(rel="stylesheet", type="text/css", href="app.css")
    body
      header
      main
        .pedal__wrapper
          .pedal
        .trafficlight
          span.red
          span.orange
          span.green
        button#go.button Go!
        .accelerometer
          .accelerometer__pointer
      footer
      script(src="index.js", type="text/javascript")