doctype html
html
    head
        link(rel="stylesheet", type="text/css", href="app.css")
    body
      header
      main
        .pedal
        button#go.button Go!
      footer
      script(src="index.js", type="text/javascript")